<div class="container" id="welcome">
	
	<div class="main">
		<div class="main-text">
			<p>Hello. My name is <span id="name">Matt Healy</span> and I have </p>
			<p id="line2">creative ideas and build websites</p>
			<%= link_to "View my Work", 'portfolio', :class => "btn" %>
		</div>
	</div>

</div>
