<div class="container" id="cont-about">
	
	<div class="main-about">
		<%= image_tag "guy.jpg" %>
		<div class="about-text"
			<p>Hello. My name is <span id="name">Matt Healy</span></p>
		</div>
		<br>
		<br>
		<br>
		<br>
		<div id="about-text">
			<p>I was born in 1975 in London and raised in Newcastle and Northumberland before moving to Macclesfield at 	10.Dropped out and worked around from 16 on.</p>
			<p>Since 2001, I've been pursuing my passion, building websites and developing my creativity</p>
		</div>
	</div>

</div>
