/*
Welcome Page
 */

html, body, {
	font-family: 'Roboto', sans-serif;
	
	position: relative;
	z-index: -1;
	background-image: url(home.jpg);
	background-size: 100%;
	height:100%;
	width: 100%;
}

.container{
	font-family: 'Roboto', sans-serif;
	height:100%;
	width: 100%;	
}

.navbar {

}


/*
Header
 */

.navbar {
	height:100px;
	
	background-color: white;
	float:left;
	padding: 0 0;
	min-width: 100%;
	overflow:hidden;
}

.header-menu {
	margin-left: 100px;
	margin-top: 30px;
}

.header-menu li{
	display:inline;
	font-size: 18px;
	margin-left: 10px;
	color:black;
}

#name {
	background:gray;
}

.name {
	float:right;
	margin-right: 100px;
}

/*
Content
 */

.main {
	padding-bottom: 150px;
	color:white;
	margin-top: 250px;
}

.main-text{
	margin-left: auto;
	margin-right:auto;
	font-size: 40px;
	width: 750px;
}

#line2 {
	margin-left: 124px;
}

.btn {
	float:right;
	font-size: 20px;
	color: white;
	margin-right: 30px;

	border-style: solid;
	border-width: 1px;
	background-color: black;
}

.btn:hover{
	color:white;
	transition:background-color 0.4s ease;
	background-color: purple;
}

/*
Footer
 */

.footer {
	float:left;
	padding: 0 0;
	min-width: 100%;
	overflow:hidden;
	background-color: white;
	height: 150px;
	
	position: relative;
	margin-top: -150px;
}

.contact{
	margin-right: 150px;
	margin-top: 50px;
}

.social img{
	width:3%;
	height:3%;
	float:right;
}

.contact p{
	float:right;
}

/*
Portfolio
 */

#cont-port {
	z-index: 1;
	
	background-image: url(bg2.jpg);
	background-size: 100%;
	background-position: center;

	height:70%;
	width: 100%;
}

.port{
	z-index: 1;

	min-height:100%;
	background-color: white;
}

.images{
	padding-top: 100px;
	padding-left: 300px;
	padding-bottom: 150px;
}

.img-port {
	width:500px;
	float: left;
	margin-right: 50px;
}

.img-port img{
	width:500px;
	height: 300px;
}

.img-port p, .img-port h3{
	width:470px;
	margin-left: 10px;
	margin-right:10px;
}

.img-row{
	padding-bottom: 30px;
	height:500px;
}

.img-row a{
	color:black;
	transition:color 1s;
}

.img-row a:hover{
	color:magenta;
	transition: color 0.5s;
}

/*
About
 */

#cont-about {
	z-index: 1;
	background-color: white;
	height:100%;
	width: 100%;
}

.main-about {
	margin-top: 100px;
	width:80%;
}


.main-about img{
	width:40%;
	height: 35%;
	float:left;
	margin-left: 100px;
	margin-right:30px;
}

.about-text {
	font-size: 40px;
	float:right;
}

/*
Contact
 */

#contact-cont {
	z-index: 1;
	background-color: white;
	height:100%;
	width: 100%;
}

.contact h2{
	float:right;
	font-size: 50px;
}

.contact-row img {
	width: 7%;
	height: 7%;
	float:right;
	margin-left: 30px;
	margin-top: 80px;
	margin-right: 80px;
}

